div.box {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: darkgray;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}